.container {
    border-bottom: 2px solid gray;
}
.container h3 {
    font-weight: 500;
    font-size: 1.9rem;
    color: blue;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.icon {
    color: tomato;
    font-size: 2.9rem;
    margin: 0px 10px 15px 0px;
}
.form {
    display: flex;
    flex-direction: column;
}

.form input {
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: 1.5px solid gray;
    font-size: 1.2rem;
}

.form label {
    margin: 20px 0 2px 0;
}

.form textarea {
    border-radius: 10px;
    width: 350px;
    padding: 10px;
    border: none;
    outline: 1.5px solid gray;
    font-size: 1.5rem;
    font-weight: 550;
}

.form textarea::placeholder {
    color: rgb(95, 93, 93);
    font-weight: 520;
}
.form select {
    width: 250px;
    border-radius: 10px;
    outline: 1.5px solid gray;
    padding: 10px;
    margin-bottom: 30px;
}

.options {
    font-size: 1.1rem;
}
.form button {
    width: 100px;
    padding: 8px 10px;
    background-color: greenyellow;
    border: none;
    border-radius: 7px;
    color: gray;
    margin-bottom: 20px;
}
.form button:hover {
    background-color: green;
    color: #fff;
    transition: all 0.4s;
}
.form button:disabled {
    background-color: #7f8c8d;
    cursor: not-allowed;
}
